TENANT_ID=79f58346-48ad475d-bbb1-139350c2f976
AUDIENCE_JWT=8ba39a54-a578-4fd8-890c-ff007074368c

CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=default
CLICKHOUSE_SCHEMA=default

REDIS_PASSWORD=teste

CLOUDFLARE_TUNNEL_TOKEN=
